<launch>
<arg name="robot_name" default="r0"/>


<group ns="$(arg robot_name)">
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="CollisionAlarmNodelet" args="load tuw_collision_alarm/CollisionAlarmNodelet standalone_nodelet" output="screen">
  </node>

  </group>
</launch>